html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: .2rem;
}

h1{font-size:64px;}
h2{font-size:48px;}
h3{font-size:36px;}
h4{font-size:24px;}
h5{font-size:20px;}
h6{font-size:18px;}

p {
  font-size: 18px;
  letter-spacing: .1rem;
}

ol,li > a {
  font-size: 20px;
  line-height: 1.7;
  text-decoration: none;
}

a {
  transition: all .3s;
}

a:hover {
  color: black;
}

.full-height {
  min-height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.m-b-md {
  margin-bottom: 30px;
}

.links {
  flex-wrap: wrap;
}

.links > a {
  color: #636b6f;
  padding: 0 5px;
  margin: 5px;
  font-size: 16px;
  letter-spacing: .2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s;
}

.links > a:hover {
  color: black;
}

.links > a.current-item {
  font-weight: bold;
  border-bottom: 1px solid;
}

.breadcrumb {
  margin: 20px 40px;
  font-size: 18px;
}

.content {
/* text-align: center; */
  flex-direction: column;
  width: 80%;
}

.top-panel {
  display: flex;
  justify-content: left;
  align-items: center;
}

.social-profiles {
  margin: 20px;
}

.privacy-policy {
  padding: 0 20px;
}

.privacy-policy svg {
  width: 30px;
  height: 30px;
  stroke-width: 1;
  color: #6d6d6d;
}

.social-profiles svg {
  padding: 5px;
  width: 40px;
  height: 40px;
  stroke-width: 1;
  color: #6d6d6d;
  transition: all .5s;
}

.social-profiles svg:hover {
  color: black;
  stroke-width: 2;
}

.site-info {
  margin-top: 20px;
}

.logo img {
  width: 100px;
  height: 100px;
  transition: all .3s;
}

.logo img:hover {
  filter: invert(40%);
}

.search-form {
  padding: 10px;
}

.search-form input {
  padding: 8px;
  border: none;
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 16px;
}

.site-name {
  font-size: 64px;
}

.site-seo h1 {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  padding: 10px;
}

.site-seo h2 {
  font-size: 18px;
  padding: 10px;
}

.header-image {
  margin-top: 20px;
}

.content-body {
  padding: 10px;
}

.copyright {
  padding: 40px 10px;
}

.search-page {
  flex-direction: column;
}

.edit-btn {
  margin-top: 30px;
  font-size: 30px;
}

.pw-debug, pre {
  font-size: 16px;
}

/****************************************************************
 * Bodycopy text and images
 *
 * These styles are good to have on any ProcessWire site
 *
 */

.align_left {
	/* for images placed in rich text editor */
	float: left;
	margin: 0 1em 0.5em 0;
	position: relative;
	top: 0.5em;
	max-width: 50%;
}

.align_right {
	/* for images placed in rich text editor */
	float: right;
	margin: 0 0 0.5em 1em;
	max-width: 50%;
}

.align_center {
	/* for images placed in rich text editor */
	display: block;
	margin: 1em auto;
	position: relative;
	top: 0.5em;
}

figure {
	/* figure for image that has a caption */
	display: table;
	margin: 1em 0;
}

figure figcaption {
	/* display caption text below image contained to image width */
	display: table-caption;
	caption-side: bottom;
	font-size: 13px;
	line-height: 1.4em;
	margin-top: 5px;
	color: #777;
}

@media screen and (max-width: 1024px) {
	/* common PW mobile layout adjustments for widths under 1024px */

  h1{font-size:32px;}
  h2{font-size:28px;}
  h3{font-size:24px;}
  h4{font-size:20px;}
  h5{font-size:18px;}
  h6{font-size:16px;}

  .logo img {
    width: 55px;
    height: 55px;
  }

  .content {
    width: 100%;
  }

  .top-panel {
    justify-content: center;
    flex-direction: column;
  }

  .social-profiles svg {
    width: 30px;
    height: 30px;
  }

  .privacy-policy {
    padding: 0 3px;
    text-align: center;
  }

  .privacy-policy p {
    font-size: 16px;
  }

  .site-name {
    font-size: 28px;
  }

  .site-seo h1 {
    font-size: 18px;
  }

  .site-seo h2 {
    font-size: 14px;
  }

  .links > a {
      font-size: 14px;
  }

	.align_left, .align_right, .align_center {
		/* display images in center rather than aligned */
		display: block;
		float: none;
		margin: 1em auto;
		max-width: 100%;
	}

	figure,
    figure figcaption {
		/* let figcaption display as wide as needed below image */
	    display: block;
	    text-align: center;
    }
}
