/* BASIC */

html, body {
	/* background-color: #fff; */
	color: #636b6f;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	height: 100vh;
	margin: 0 auto;
}

body {
	background: no-repeat center center fixed;
    background-size: cover;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 3px;
}

h1{font-size:46px;}
h2{font-size:38px;}
h3{font-size:36px;}
h4{font-size:24px;}
h5{font-size:20px;}
h6{font-size:18px;}

p {
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 1.5;
}

/* LINKS */

a {
	font-weight: bold;
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
	border-bottom: 1px solid transparent;
	transition: all .3s;
}

a:link {
	color: #265301;
}

a:visited {
	color: #437A16;
}

a:focus {
	border-bottom: 1px solid;
	background: #BAE498;
}

a:hover {
	border-bottom: 1px solid;
	background: #CDFEAA;
}

a:active {
	background: #265301;
	color: #CDFEAA;
}

.responsive {
	width: 100%;
	height: auto;
}

/* LIST */

ol,li > a {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.7;
}

/* CONTAINERS */

.container {
	margin: 0 auto;
	width: 80%;
}

.container-medium {
	margin: 0 auto;
	width: 90%;
}

.container-full {
	margin: 0 auto;
	width: 100%;
}

/* FLEX */

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-direction-column {
	flex-direction: column;
}

/* POSITIONS */

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.m-t {
	margin-top: 20px;
}

/* MARGIN / PADDING */

.m-b {
	margin-bottom: 20px;
}

.p-20 {
	padding: 20px;
}

.p-10 {
	padding: 20px;
}

/* FEATHER ICONS */

.feather {
	padding: 5px;
	width: 35px;
	height: 35px;
	stroke-width: 1;
	color: #6d6d6d;
	transition: all .5s;
}

/* SITEMAP */

.nav {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
.nav .nav {
	padding-left: 1.5em;
	list-style: disc;
}
.nav li {
	margin: 1em 0;
}

.nav-tree li {
	margin-top: 0;
	margin-bottom: 0;
}

.nav a {
	font-weight: bold;
}

.nav-tree li a {
	color: #777;
}

.nav .current > a {
	color: #333;
}

/* NAV MENU */

.main-nav {
	overflow: auto;
	white-space: nowrap;
}

.main-nav a {
	margin: 5px;
	font-weight: 600;
}

.main-nav > a {
	color: #636b6f;
	padding: 0 5px;
	margin: 2px;
	line-height: 2;
	font-size: 16px;
	letter-spacing: .2rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .3s;
}

.main-nav > a:hover {
  	color: black;
}

.main-nav > a.current-item {
	font-weight: bold;
	border-bottom: 1px solid;
}

/* BREADCRUMB */

ul.breadcrumb {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px 16px;
	list-style: none;
	overflow: auto;
}

ul.breadcrumb li {
	display: inline;
	font-size: 18px;
}

ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

ul.breadcrumb li a:hover {
	color: #01447e;
}

/* SOCIAL PROFILES */

.social-profiles svg:hover {
	color: black;
	stroke-width: 2;
}

/* LANGUAGE MENU */

.lang-item {
	margin: 5px;
	text-decoration: none;
}

.lang-item.current-item {
	font-weight: bold;
	border-bottom: 1px solid;
}

/* SITE INFO */

.site-info img {
	width: 150px;
	height: 150px;
	transition: all .3s;
}

.site-info img:hover {
  filter: invert(40%);
}

/* SITE NAME */

.site-name {
  font-size: 64px;
}

/* HERO */

.left-hero {
	padding: 15px;
}

.right-hero {
	flex-grow: 0;
    flex-shrink: 0;
	flex-basis: 50%;
	padding: 5px;
}

/* FOOTER */

.footer {
padding: 30px 0;
}

/* SEARCH FORM */

.search-f input {
	padding: 8px;
	border: none;
	border-top: 2px solid;
	border-bottom: 2px solid;
	font-size: 16px;
  }

/* BUTTONS */

.edit-btn {
  margin-top: 30px;
  font-size: 30px;
}

/* CARD */

.card-default {
	background: #fff;
	color: #666;
	box-shadow: 0 5px 15px rgba(0,0,0,0.08);
	padding: 20px 20px;
	transition: all .3s;
}

.card-default:hover {
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.46);
}

/* DEBUG REGIONS */

.pw-debug, pre {
  font-size: 16px;
}


/**
 * Bodycopy text and images
 *
 * These styles are good to have on any ProcessWire site
 *
 */

.align_left {
	/* for images placed in rich text editor */
	float: left;
	margin: 0 1em 0.5em 0;
	position: relative;
	top: 0.5em;
	max-width: 50%;
}

.align_right {
	/* for images placed in rich text editor */
	float: right;
	margin: 0 0 0.5em 1em;
	max-width: 50%;
}

.align_center {
	/* for images placed in rich text editor */
	display: block;
	margin: 1em auto;
	position: relative;
	top: 0.5em;
}

figure {
	/* figure for image that has a caption */
	display: table;
	margin: 1em 0;
}

figure figcaption {
	/* display caption text below image contained to image width */
	display: table-caption;
	caption-side: bottom;
	font-size: 13px;
	line-height: 1.4em;
	margin-top: 5px;
	color: #777;
}

@media screen and (max-width: 1024px) {
/* common PW mobile layout adjustments for widths under 1024px */

/* BASIC */

	h1{font-size:32px;}
	h2{font-size:28px;}
	h3{font-size:24px;}
	h4{font-size:20px;}
	h5{font-size:18px;}
	h6{font-size:16px;}

	.container, .container-medium, .container-full {
		width: 90%;
	}

	.flex-wrap-mobile {
		flex-wrap: wrap;
	}

	.p-20, .p-10 {
		padding: 0;
	}

	/* SITE INFO */

	.site-info .site-name {
		font-size: 30px;
	}

	/* BREADCRUMB */

	ul.breadcrumb {
		display: none;
	}

	/* HERO */

	.right-hero {
		flex-basis: 100%;
	}

	/**
	* These styles are good to have on any ProcessWire site
	*
	*/

	.align_left, .align_right, .align_center {
		/* display images in center rather than aligned */
		display: block;
		float: none;
		margin: 1em auto;
		max-width: 100%;
	}

	figure,
	figure figcaption {
		/* let figcaption display as wide as needed below image */
		display: block;
		text-align: center;
	}
}
